:root {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
*{
  background-color: rgb(36, 33, 33);
}
a {
  font-weight: 500;
  color: #f3ebeb;
  text-decoration: inherit;
  padding:3%;
}
a:hover {
  color: #ced0f7;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

